/* shared css styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Mulish", sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.for-mobile-size, .mobile-menu-bar{
    display: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.section-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.destination-title{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* nav css styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 50px 0;
}
.logo-text{
    display: flex;
    align-items: center;
}
.logo-text img{
    width: 48px;
    height: 56px;
}
.nav-item ul{
    display: flex;
    align-items: center;
}
.logo-name {
    margin-left: 16px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.logo-name .logo-color{
    color: #FF5400;
}
.nav-item ul li{
    margin-left: 44px;
}
.nav-item ul li a{
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease-in;
}
.nav-item ul li a:hover{
    color: #FF5400;
}
.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    display: inline;
    padding: 14px 34px;
}

/* styles for banner section */
section.banner {
    margin-bottom: 100px;
}
.banner-bg {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    display: block;
    width: 100%;
    height: 500px;
    text-align: center;
}
.banner-title {
    padding-top: 106px;
    padding-bottom: 24px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-description{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 247px;
    padding-bottom: 48px; 
}
form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    display: flex;
    padding: 16px;
}
    section.banner {
    margin-bottom: 100px;
}
input[type="text"], select{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
}
input[type="text"]{
    padding: 16px 0 16px 16px;
}
#When{
    padding: 16px 74px 16px 16px;
    margin-left: 30px;
}
#Type{
    padding: 16px 35px 16px 16px;
    margin-left: 30px;
}
.banner-form{
    display: flex;
}
.form-button a{
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-radius: 8px;
    background: #FF5400;
}
.fa-solid.fa-magnifying-glass {
    color: #fff;
    padding-left: 35px;
    padding: 16px 0 16px 35px;
}
p.find-now {
    color: #fff;
    padding: 16px 34px 16px 8px;
}

/* styles for popular section */
.popular-content {
    display: flex;
    gap: 50px;
}
.popular-list-items li{
    list-style:disc ;
    margin-top: 16px;
    margin-left: 30px;
}
.popular-left-content p{
    margin: 24px 0;
}
.primary-btn a{
    color: #fff;
}
.popular-btn {
    margin-top: 32px;
}

/* styles for destination section */
.destination{
    margin: 100px 0;
}
.destination-text{
    margin:24px 263px 48px 263px ;
}
.destination-content {
    text-align: center;
}
.destination-top-images, .destination-middle-images, .destination-bottom-images{
    display: flex;
    gap: 24px;
}
.destination-images {
    position: relative;
    text-align: center;
}
.destination-images img {
    width: 100%;
}
.destination-middle-images{
    margin: 24px 0;
}

/* styles for features section */
section.features {
    margin-bottom: 100px;
}
.features-content{
    text-align: center;
}
.features-text {
    margin: 24px 263px 48px 263px;
}
.features-two-card{
    display: flex;
    gap: 24px;
}
.left-card{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}
.right-card{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}
.features-single-card{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    width: 573px;
    margin: 24px 266px 0 266px;
}

/* discount section styles */
section.discount {
    margin-bottom: 100px;
}
.discount-card-top{
    display: flex;
}
.discount-content{
    text-align: center;
}
.discount-text{
    margin: 24px 263px 48px 263px;
}
.discount-top-text{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
    margin-right: 24px;
}
.discount-top-bg{
    background-image: url('../Images/Group\ 39.png');
    border-radius: 16px;
    display: block;
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 25px;
}
.clock-icon, .location-icon, .people-icon {
    display: flex;
}
.discount-card {
    width: 479px;
    height: 289px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    position: absolute;
    top: 56px;
    right: 56px;
}
.discount-card-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 26px 0 16px 0;
}
.discount-price-range{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin: 16px 0 24px 0;
}
.book-now{
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 25px;
    border: none;
}
.book-now a{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}
.discount-second-bg{
    background-image: url('../Images/Group\ 40.png');
}
.second-card{
    left: 56px;
}
.edit-primary-btn{
    text-align: center;
    margin-top: 48px;
}

/* video blog section styles */
.video-streaming{
    display: flex;
    gap: 24px;
}
.youtube-video{
    position: relative;
    transition: all 0.3s ease-in;
}
.youtube-video iframe, .youtube-over-bg{
    border-radius: 16px;
}
.youtube-over-bg{
    background: linear-gradient(180deg, #060608 -33.96%, rgb(0 0 0 / 55%) 100%);
    width: 610px;
    height: 424px;
    position: absolute;
    top: 0;
}
.youtube-video:hover .youtube-over-bg{
    display: none;
}
.video-over-text{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    top: 50%;
    position: absolute;
    justify-content: center;
    transform: translate(-50%, -50%);
    left: 50%;
}
.bold-text{
    color: #131318;
    font-weight: 700;
}
section.video-blog {
    margin-bottom: 100px;
}
/* newsletter section styles */
section.newsletter {
    margin-bottom: 100px;
}
hr .form-line{
    width: 100%;
    height: 1px;
    background: rgba(105, 105, 118, 0.1);
    opacity: 10%;
}
.newsletter-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-text{
    width: 350px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.newsletter-left{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;

}
.newsletter-content{
    display: flex;
    gap: 24px;
}
.form-line {
  opacity: 10%;
}
.newsletter-left input[type="text"], input[type="email"]{
    padding: 16px 250px 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    display: block;
    border: none;
    margin-top: 24px;
    font-size: 16px;
}
input[type="email"]{
    margin-top: 16px;
    margin-bottom: 24px;
}
.Subscribe{
    width: 100%;
    border:none;
}
.sticky-offer{
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    width: 324px;
    height: 120px;
}
.newsletter-right{
    position: relative
}
.sticky-offer{
    position: absolute;
    right: 6.5px;
    bottom: 13%;
    text-align: center;
}
.sticky-offer-text{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
}
.sticky-offer-title{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin-top: 10px;
}

/* sponsor section styles  */
.sposnsor{
    margin-bottom: 100px;
}
.sponsor-content{
    text-align: center;
}
.sponsor-content{
    margin: 24px 120px 48px 120px;
}
.sponsor-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    align-items: center;
}
.sponsor-images img{
    width: 100%;
}
.sponsor-btn{
    text-align: center;
    margin-top: 48px;
}
/* footer section styles */
.footer{
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
}
.footer-part .footer-logo{
    justify-content: center;
    padding-top: 110px;
}
.footer-text{
    margin: 15px 100px 32px 100px;
}
.footer-social-icon ul{
    display: flex;
    justify-content: center;
}
.footer-social-icon ul li a{
    color: #131318;
    margin-left: 25px;
}
.no-left-margin {
    margin-left: 0 !important;
  }
.footer-border{
    background: rgba(19, 19, 24, 0.10);
    width: 872px;
    height: 1px;
    margin: 50px 150px;
}
.footer-copyright{
    color: #131318;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 50px;
}


